@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
//Fonts
$font-title-section: 'Sigmar', cursive;
$font-document: 'Roboto', sans-serif;
//Font-sizes
$sm:1.4rem;
$md:1.6rem;
$lg:1.8rem;
$xl:2.0rem;
//Colors
$primary:rgb(247, 203, 11);
$secondary:rgb(247, 217, 52);
//Mixins
@mixin cards-description{
    font-size: $sm;
    font-weight: 500;
    color: black;
}