@import './vars';

.Header {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 5px black;
    position: fixed;
    top: 0;
    background-color: rgba(48, 48, 48, 0.986);
    z-index: 2;
}
.nav-bar{
    width: 100%;
    height: 60px;
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title{
        margin-left: 4px;
        font-weight: 700;
        font-size: $lg;
        color: $primary;
    }
    &__items-conatiner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
    &__items{
        font-size: $md;
        font-weight: 400;
        display:flex;
        justify-items: center;
        list-style: none;
    }
    &__items li{
        margin-right: 30px;
        color: $primary;
    }
    &__shopping-cart{
        position: relative;
        color: $primary;
    }
}
.shopping-cart__count{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    top: 1px;
    right: -1px;
    background-color: black;
}