@import './vars';
.Home{
    width: 100%;
    height: auto;
    &__title-section{
        width: 100%;
        height: 350px;
        margin-top: 60px;
        position: relative;
    }
    &__title-container{
        width: 100%;
        height: auto;
        position: absolute;
        top:30%;
        z-index: 1;
    }
    &__title{
        font-family: $font-title-section;
        font-size: 50px;
        font-weight: 700;  
        color: rgb(255, 238, 5); 
        -webkit-text-stroke-width: 1.3px;
        -webkit-text-stroke-color: black;
        z-index: 2;
    }
    &__title-message{
        font-family: $font-title-section;
        font-size: $xl;
        font-weight: 500;
        color: rgb(247, 217, 52);
        -webkit-text-stroke-width: 1.3px;
        -webkit-text-stroke-color: black;
        z-index: 2;
    }
    &__title-section-img {
        width: 100%;
        height: 100%;
        position: absolute;
        filter: grayscale(2);
        object-fit: cover;
        z-index: 0;
      
    }
}
.overlay--gray-scale{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
   /*  filter: grayscale(100%); */

}
    


