@import './vars';

.Success {
	width: 80%;
	height: auto;
	padding-top: 30px;
	margin: 0 auto;
	margin-top: 60px;
}
.Success-conten {
	display: flex;
	flex-direction: column;
}
.Success-content .title {
	margin-top: 12px;
	font-size: $lg;
}
.Success-content p {
	margin-top: 12px;
	margin-bottom: 8px;
	font-size: $sm;
	font-weight: 400;
}
